.header{
  position: relative;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  transition: transform 0.9s;
  box-shadow: 0px 4px 10px rgba(34, 42, 55, 0.13);
  font-weight: bold;
  .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;

    & + label {
      position: relative;
      padding: 2px 0 0 60px;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        top: -0px;
        left: 0;
        width: 50px;
        height: 26px;
        border-radius: 13px;
        background: #CDD1DA;
        box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
        transition: .2s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 22px;
        height: 22px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        transition: .2s;
      }
    }
    &:checked{
      & + label {
        &:before {
          background: #9FD468;
          background:   $green;
        }
        &:after {
          left: 26px;
        }
      }
      &:focus + label:before {
        box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
      }
    }
  }
  .container{
    padding: 20px 20px 0 20px;
    max-width: 1440px;
  }
  &-col{
    &-left{
      display: flex;
      .logo{
        margin-right: 140px;
        margin-bottom: 20px;
      }
      .menu{
        display: flex;
        align-items: center;
        li{
          position: relative;
          margin-right: 28px;
          height: 100%;
          display: flex;
          align-items: center;
          padding-bottom: 20px;
          &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 0;
            height: 2px;
            background: #97BA1E;
            background:   $green;
            border-radius: 1px;
            transition: width 0.3s ease-out;
          }
          &.active, &:hover{
            &::after{
              width: 100%;
            }
          }
          a{
            font-weight: bold;
          }
        }
      }
    }
    &-right{
      padding-bottom: 20px;
      &-list{
        display: flex;
        align-items: center;
        float: right;
        li{
          min-height: 28px;
          padding-left: 12px;
          &:first-child{
            padding-right: 12px;
            border-right: 1px solid #DDE3ED;
          }
          .checkbox{
            & + label{
              font-weight: 400;
            }
          }
          .user{
            svg{

            }
          }
          .select{
            .slct{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 38px;
              &:after{
                display: none;
              }
            }
            img{
              margin: 0;
              min-width: 20px;
            }
            .drop{
              width: 48px;
              left: 0;
              li{
                height: 30px;
                padding: 0 10px;
                border-right: 0!important;
              }
            }
          }
        }
        .checkbox{
          width: 50px;
          height: 27px
        }
      }
    }
  }
}