.registration{
  &-item{
    position: relative;
    margin: 24px 0 24px 61px;
    padding: 16px 40px 21px 40px;
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.2s ease all;
    @media(max-width: 1100px) {
      padding: 16px 10px 21px 10px;
    }
    &:hover{
      box-shadow: 0px 4px 10px rgba(34, 42, 55, 0.13);
    }
    &:last-child{
      &::after{
        display: none !important;
      }
    }
    &::before, &::after{
      content: '';
      position: absolute;
      left: -60px;
      top: 10px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7A869A;
      background: #ECEFF5;
      border-radius: 50px;
    }
    &::after{
      width: 1px;
      height: calc(100% - 4px);
      top: 50px;
      left: -40px;
      border: dotted 1px #95A0B3;
    }
    &.green{
      &::before{
        background: #97BA1E;
        color: #fff;
      }
      &::after{
        border-color: #97BA1E;
      }
    }
    &-1::before{
      content: '1';
    }
    &-2::before{
      content: '2';
    }
    &-3::before{
      content: '3';
    }
    &-4::before{
      content: '4';
    }
    &-5::before{
      content: '5';
    }
    &-6::before{
      content: '6';
    }
    &-7::before{
      content: '7';
    }
    &-8::before{
      content: '8';
    }
    &-9::before{
      content: '9';
    }
    &-10::before{
      content: '10';
    }
    &-in{
      .h2{
        margin-top: 0;
        span{
          display: inline-block;
          margin: 1px 12px 0 23px;
          font-weight: normal;
          font-size: 14px;
          color: #27344B;
          &.sm{
            margin: 0 5px;
            font-size: 16px;
          }
        }
        svg{

        }
      }
      .special-service{
        .table{
          width: auto;
          tr{
            td{
              //padding-bottom: 0;
              border: 0;
              font-size: 14px;
              line-height: 20px;
              &:first-child{
                padding-left: 0;
                max-width: 500px;
              }

              &.size-sm{
                p{
                  font-size: 14px;
                  line-height: 143%;
                  color: #222A37;
                }
              }
            }
          }
        }
        max-width: 1000px;
        .d-flex{
          justify-content: space-between;
          .remove{
            font-size: 14px;
            line-height: 20px;
            color: #F14D56;
          }
        }
        &-list{
          margin-bottom: 21px;
          border-bottom: 1px solid #DDE3ED;
          li{

          }
          &-in{
            li{
              display: flex;
              flex-wrap: wrap;
              .item{
                &-input{
                  width: 150px;
                }
                &-select{
                  width: 320px;
                }
              }
            }
          }

        }
        .add-baggage-js{
          float: right;
          cursor: pointer;
          span{
            display: inline-block;
            margin-right: 8px;
            color: #27344B;
          }
        }
        .btn{
          margin-top: 24px;
        }
      }
      .search_passenger-table{
        margin: 17px 0px 0px;
        .table{
          tbody{
            border: 0;
            tr {
              td{
                max-width: 250px;
                &:first-child{
                  padding-left: 0 !important;
                }
                //padding-top: 0;
                padding-bottom: 0.25rem;
                //line-height: 1;
                &.pol{
                  width: 200px;
                }
                &.size-sm{
                  svg{
                    margin-left: 4px;
                  }
                }
              }
            }
          }
        }
      }
      .item-textarea{
        margin: 19px 0;
        .inp{
          textarea{

          }
          .label{

          }
        }
      }
      .bagaze{
        max-width: 1000px;
        .d-flex{
          justify-content: space-between;
          .remove{
            font-size: 14px;
            line-height: 20px;
            color: #F14D56;
          }
        }
        &-list{
          margin-bottom: 21px;
          border-bottom: 1px solid #DDE3ED;
          li{

          }
          &-in{
            li{
              display: flex;
              flex-wrap: wrap;
              .item{
                &-input{
                  width: 150px;
                }
                &-select{
                  width: 320px;
                }
              }
            }
          }

        }
        .add-baggage-js{
          float: right;
          cursor: pointer;
          span{
            display: inline-block;
            margin-right: 8px;
            color: #27344B;
          }
        }
        .btn{
          margin-top: 24px;
        }
      }
      .adc-warning{
        display: flex;
        margin: 16px 0;
        padding: 18px 20px;
        background: #FEEDEE;
        border-radius: 12px;
        &-in{
          margin-left: 16px;
        }
        .h3{
          margin: 0 0 6px;
        }
        p{
          font-size: $sizeBasik - 2;
        }
      }
    }

    &-list{
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      & + .btn{
        margin-top: 70px;
      }
      &>li{
        width: calc(33% - 10px);
        max-width: 320px;
        .item-select{
          overflow: visible;
          .slct{
            padding-top: 8px;
            &.active{
              margin: -0px;
              border-radius: 8px 8px 0 0;
              border: 1px solid #ddd6e1;
              width: calc(100% + 0px);
            }
          }
          .drop{
            width: calc(100% + 0px);
          }
        }
        .item-input{
          margin: 0 0 28px 0;
        }
        .radio-list{
          display: flex;
          margin-bottom: 28px;
          border-radius: 8px;
          border: 1px solid #ddd6e1;
          li{
            width: 50%;
            height: 54px;
            display: flex;
            align-items: center;
            padding-left: 16px;
            line-height: 1;
            &:first-child{
              border-right: 1px solid #ddd6e1;
            }
            @media(max-width: 1200px) {
              height: 50px;
            }
            input{
              & + label{

              }
            }
          }
        }
      }
    }
    .additional-services{
      margin-top: 16px;
      &-list{
        display: flex;
        &>li{
          width: 300px;
          .h3{
            margin-bottom: 10px;
          }
          .item{
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            .text{
              max-width: 200px;
              padding-left: 10px;
              font-size: 14px;
              line-height: 143%;
              color: #222A37;
            }
          }
        }
      }
    }
  }
}