.selection_passenger{
	margin: 12px 0 21px;
	padding: 16px 40px 16px 10px;
	border: 2px solid #DDE3ED;
	box-sizing: border-box;
	border-radius: 10px;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background: transparent !important;
		color: transparent !important;
	}
	&::-webkit-scrollbar-track {
		background: transparent !important;
		color: transparent !important;
	}
	// Handle
	&::-webkit-scrollbar-thumb {
		background-color: $blue;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		// background: #cfd4db;
		background: transparent;
		background: transparent;
		//background: #000;
		background: $green;
	}
	@media(max-width: 1100px) {}
		padding-left: 0;
		padding-right: 0px;
		overflow-x: scroll;
		.scroll{
			display: table;
			min-width: 900px;
			padding-right: 40px;
		}

	&-top{
		display: flex;
		//justify-content: space-between;
		//margin-bottom: 16px;
	}
	&-bottom{
		display: flex;
		justify-content: space-between;
	}
	&-business{
		display: flex;
		&>li{
			margin: 0 4px;
			.numb{
				margin-bottom: 2px;
			}
			.place{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				cursor: pointer;
				border-radius: 6px;
				&.height-2{
					height: 83px;
					@media(max-width: 1320px) {
						height: 63px;
					}
				}
				@media(max-width: 1320px) {
					width: 30px;
					height: 30px;
				}
			}
		}
		&-in{
			display: block;
			li{
				margin: 3px 0px;
				span{
					font-size: 14px;
					line-height: 20px;
					color: #7A869A;
				}
			}
		}
	}
	.business{
		background: #7E57C2;
	}
	.F, .P {
		background: #577EDC;
	}
	.back-fixed{
		position: relative;
		background: #577EDC;
		&:before{
			content: '';
			position: absolute;
			top: 3px;
			right: 3px;
			z-index: 1;
			width: 4px;
			height: 20px;
			max-height: calc(100% - 6px);
			background: #fff;
		}
	}
	.O{
		background: #FFFFFF;
		border: 1px solid #D0D6E1;
	}
	.select{
		background: #97BA1E;
	}
	.K{
		background: #D0D6E1;
		color: #fff;
		font-size: 12px;
	}
	.YES1A{
		border: 1px solid #D0D6E1;
		background: url("../../assets/img/children.png") center	no-repeat;
	}
	.NOT1A{
		position: relative;
		background: #577edc url("../../assets/img/none-children.png") center	no-repeat;
	}
	.booked{
		border: 1px solid #D0D6E1;
		background: url("../../assets/img/booked.png") center	no-repeat;
	}
	.not-available{
		background: #D0D6E1;
	}
	.extra{
		background: #FFEC94;
	}
	.standart{
		background: #AABFFC;
	}
	.PC{
		background: #577EDC url("../../assets/img/pets.png") center	no-repeat;
	}
	.W{
		border: 1px solid #D0D6E1;
		background: #d0d6e1 url("../../assets/img/crew-occupied.png") center	no-repeat;
	}
	.numb{
		height: 40px !important;
		font-size: 14px;
		line-height: 20px;
		color: #7a869a;
	}
	&-standart{
		display: flex;
		margin-left: 40px;
		&.number{
			li{
				margin: 3px;
				text-align: center;
			}
		}

		&>li{
			.place{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 26px;
				height: 26px;
				border-radius: 6px;
				cursor: pointer;

				&.height-2{
					height: 55px;
				}
				@media(max-width: 1320px) {
					width: 20px;
					height: 20px;
					&.height-2{
						height: 43px;
					}
				}
			}

		}
		&-in{
			display: block;
			li{
				margin: 3px 3px;
				span{
					font-size: 14px;
					line-height: 20px;
					color: #7A869A;
				}
			}
		}
	}
	/****************/
	&-list{
		display: flex;
		margin-bottom: 42px;
		li{
			min-width: 200px;
			padding-right: 20px;
			@media(max-width: 1200px) {
				min-width: 180px;
			}
			.item{
				display: flex;
				align-items: center;
				margin-bottom: 18px;
				span{
					display: inline-block;
					margin-left: 8px;
					font-size: 14px;
					line-height: 20px;
					color: #7A869A;
				}

				.place{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 26px;
					height: 26px;
					border-radius: 6px;

				}
				.F, .P  {
					background: #577EDC;
				}
				.back-fixed{
					position: relative;
					background: #577EDC;
					&:before{
						content: '';
						position: absolute;
						bottom: 3px;
						right: 3px;
						z-index: 1;
						height: 4px;
						width: 20px;
						max-width: calc(100% - 6px);
						background: #fff;
					}
				}
				.O{
					background: #FFFFFF;
					border: 1px solid #D0D6E1;
				}
				.select{
					background: #97BA1E;
				}
				.K{
					background: #D0D6E1;
					color: #fff;
					font-size: 12px;
				}
				.PC{
					border: 1px solid #D0D6E1;
					background: url("../../assets/img/pets-2.png") center	no-repeat;
				}
				.YES1A{
					border: 1px solid #D0D6E1;
					background: url("../../assets/img/children.png") center	no-repeat;
				}
				.NOT1A {
					position: relative;
					background: #577edc url("../../assets/img/none-children.png") center	no-repeat;
				}
				.booked{
					border: 1px solid #D0D6E1;
					background: url("../../assets/img/booked.png") center	no-repeat;
				}
				.W{
					border: 1px solid #D0D6E1;
					background:#d0d6e1 url("../../assets/img/crew-occupied.png") center	no-repeat;
				}
				.not-available{
					background: #D0D6E1;
				}
				.extra{
					background: #FFEC94;
				}
				.business{
					background: #7E57C2;
				}
				.standart{
					background: #AABFFC;
				}
			}

		}

	}
}