.sidebar {
  z-index: 1;
  margin-bottom: 50px;
  max-width: 393px;
  max-width: 24.75%;

  @media (max-width: 1200px) {
    max-width: 36%;
  }
  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    flex-grow: inherit;
    flex-basis: auto;
    &.md-hide{
      display: none;
    }
  }

  &-in {
    padding-bottom: 20px;
    background: #FFFFFF;
    border: 2px solid #CBF468;
    box-shadow: 0px 1.5px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    @media (max-width: 767px) {
      position: relative;
      &-md {
        display: flex;
      }
      border: 0;
      box-shadow: 0 0 0 0;
    }
  }

  &-img {
    @media (max-width: 767px) {
      overflow: hidden;
      width: 63px;
      height: 63px;
      border-radius: 50%;
      background: #000;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-desc {
    padding: 32px 10px 0px;
    padding: 20px 10px 0px;
    text-align: center;
    @media (max-width: 767px) {
      padding: 0px 0 0px 12px;
      text-align: left;
    }

    .h3 {
      margin: 0;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    .list {
      margin: 16px 0 15px;
      @media (max-width: 767px) {
        display: flex;
        margin: 3px 0;
        span {
          display: none;
        }
      }

      li {
        margin-bottom: 8px;
        font-size: $sizeBasik + 3;
        @media (max-width: 767px) {
          font-size: 12px;
          margin-bottom: 2px;
          margin-right: 4px;
        }
      }

      &-tag {
        display: flex;
        justify-content: center;
        @media (max-width: 767px) {
          justify-content: start;
        }

        li {
          padding: 0 4.5px;
          @media (max-width: 767px) {
            padding: 0 8px 0 0;
          }

          a {
            width: auto;
            height: 24px;
            padding: 0 16px;
            font-size: $sizeBasik;
            @media (max-width: 767px) {
              height: 16px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .list-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 30px;
    @media (max-width: 767px) {
      align-items: baseline;
      margin-top: 16px;
      flex-direction: row;
      .btn_border_black {
        margin-right: 8px;
        margin-bottom: 10px;
      }
    }

    li {
      display: flex;
      margin-bottom: 13px;
      width: 100%;
      max-width: 209px;
      &.favorites {
        justify-content: center;
        margin-bottom: 23px;
        @media (max-width: 767px) {
          position: absolute;
          right: 0px;
          top: 0;
          width: auto;
          span {
            display: none;
          }
        }

        a {
          display: flex;
          align-items: center;
          font-weight: bold;
          color: #0E0C0C;

          &:hover {
            opacity: 0.7;
          }

          img {
            width: 19px;
            margin-right: 10px;
            @media (max-width: 767px) {
              width: 24px;
              margin: 0;
            }
          }
        }
      }

      @media (max-width: 767px) {
        margin-bottom: 0;
        max-width: 163px;
        max-width: 50%;
      }


      .btn {
        width: 100%;
        height: 35px;
        padding: 2px 0 0px;
        border-radius: 10px;
        border-width: 1.5px;
        font-size: $sizeBasik;

        &_border_black {
          @media (max-width: 767px) {
            //display: none;
          }
        }

        @media (max-width: 767px) {
          height: 29px;
        }
      }
    }
  }
}