.summary_information {
	.table {
		width: auto;
		min-width: 574px;
		margin-top: 20px;
		border-left: 1px solid #dde3ed;
		border-right: 1px solid #dde3ed;
		thead {
			tr {
				th {
					border-top: 1px solid #dee2e6;
					height: 50px;
					background: #f6f8fc;
					border-bottom: 1px solid #dee2e6;
				}
			}
		}
		tbody {
			tr {
				td {
					height: 50px;
					border-top: 0;
					border-bottom: 1px solid #dee2e6;
				}
			}
		}
	}
}