html {
  width: 100%;
  min-width: 1440px;
}

body {
  //transition: 1s ease-in-out all;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  line-height: 143%;
  font-size: $sizeBasik;
  background: #fff;
  color: $colorBasik;
  min-width: 1440px;
  @media (max-width: 1200px) {
    font-size: $sizeBasik - 1;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik - 2;
  }
}

* {
  outline: 0px solid!important;
}
.md-hide{
  @media (max-width: 767px) {
    display: none !important;
  }
}
.md-visible{
  display: block  !important;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.debug {
  display: none;
  // display: block;
  height: 100vh;
  position: fixed;
  z-index: -1;
  width: 100%;

  & > div {
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    margin: 0 auto;

    & > div {
      height: inherit;
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;

      & > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(8.333333333333334% - 30px);
        height: inherit;
        outline: #f00 solid 1px;
        background: rgba(0, 0, 0, .1);
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0px;
  //height: 4px;
  //margin-right: -8px;
  background: transparent !important;
  color: transparent !important;

}
// Track
::-webkit-scrollbar-track {
  background: transparent !important;
  color: transparent !important;
  //background: #005eff;
  margin-right: -8px;
}
// Handle
::-webkit-scrollbar-thumb {
  background-color: $colorBasik;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
  // background: #cfd4db;
  background: transparent;
  background: transparent;
  //background: #000;
  background: #515351;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;

  & + label {
    position: relative;
    padding: 1px 0 0 24px;
    cursor: pointer;
    font-size: 14px;
    color: #222A37;
    &:before {
      content: '';
      position: absolute;
      top: -0px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #95A0B3;
      box-sizing: border-box;
      border-radius: 3px;
      background: #fff;
      transition: .2s;
    }
    &:after {
      //content: '';
      //position: absolute;
      //top: 2px;
      //left: 2px;
      //width: 22px;
      //height: 22px;
      //border-radius: 10px;
      //background: #FFF;
      //box-shadow: 0 2px 5px rgba(0,0,0,.3);
      //transition: .2s;
    }
  }
  &:checked{
    & + label {
      &:before {
        border: 0px solid #97ba1e;
        background: #97ba1e url("../../assets/img/svg/checked.svg") no-repeat center;
      }
      &:after {
        //left: 26px;
      }
    }
    &:focus + label:before {
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
    }
  }
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
  & + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #CDD1DA;
      border-radius: 50%;
      background: #FFF;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      opacity: 0;
      transition: .2s;
      border: 5px solid #97BA1E;
    }
  }
  &:checked + label:after {
    opacity: 1;
  }
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
  }
}


select {
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //appearance: none;
}
.overflow-visible {
  overflow: visible !important;
}
.select {
  display: flex;
  position: relative;
  height: 100%;
  &.sm{
    .slct{
      position: static;
      padding: 0 1px;
      justify-content: center;
      &:after{
        margin-left: 5px;
        position: static;
      }
    }
  }
  &.slct-not{
    .label{
      transform: translate3d(0, 0, 0);
      transform-origin: 0 0;
    }
  }
  .label{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #7a869a;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    transform-origin: 0 0;
    transform: translate3d(0,-15px,0) scale(.75);
    transition: all 0.2s ease;
    pointer-events: none;
    + .slct{
      padding-top: 13px;
    }
  }
  .slct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
    text-decoration: none !important;
    color: $colorBasik;
    outline: 1px solid $colorBasik;
    line-height: 24px;
    border: 1px solid #ddd6e1;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd6e1 !important;
    &.active{
      border-radius: 8px 8px 0 0;
    }
    img {
      margin: 0 13px;
    }
    span {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }

    &:after {
      content: '';
      position: absolute;
      right: 15px;
      top: 50%;
      top: calc(50% - 4px);
      width: 10px;
      height: 6px;
      background: url(../../assets/img/svg/arrow_down.svg) center no-repeat;
      transition: 1s ease all;
    }

    &.active {
      &:after{
        transform: rotate(180deg)
      }
      .fa {

      }
    }
  }

  .drop {
    margin: 0;
    padding: 0;
    width: calc(100% - 0px);
    border: 1px solid #ddd6e1;
    border-bottom: none;
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 100;
    text-align: center;
    background: #fff;
    border-top: 0;
      //background: #ccc;
    &.scroll{
      overflow-y: scroll;
      max-height: 240px;
    }
    li {
      display: flex;
      height: 40px;
      align-items: center;
      padding:0 0 0 10px;
      cursor: pointer;
      border-bottom: 1px solid #ddd6e1;
      &:hover {
        background-color: $colorBasik;
        color: #fff;
      }
    }
  }

  .drop_checkbox {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #cecece;
    border-top: none;
    display: none;
    position: absolute;
    z-index: 100;
    background: #fff;

    li {
      list-style: none;
      border-top: 1px dotted #e8e8e8;
      cursor: pointer;
      display: block;
      color: #444;
      padding: 2px 15px 6px 15px;

      &:hover {
        background-color: #e8e8e8;
        color: #222;
      }
    }
  }

  .checkbox {
    vertical-align: middle;
    margin: 6px 0 0 0;
    width: 20px;
    height: 20px;
    z-index: 9;

    & + label {
      cursor: pointer;
    }

    &:not(checked) {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &:not(checked) + label {
      position: relative;
      width: auto;
      height: 28px;
      margin-top: 6px;
      padding: 0 0 0 25px;
      line-height: 1.5;
      cursor: pointer;
      font: normal normal normal 20px/1.2 FontAwesome;
    }

    &:not(checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      width: 28px;
      height: 28px;
      border-radius: 0px;
      border: 2px solid #f9c977;
      background-color: #fff;
    }

    &:not(checked) + label:after {
      content: '';
      color: #fff;
      position: absolute;
      top: 0px;
      top: 0px;
      left: 0px;
      //transition: 0;
    }

    &:not(checked) + label:before {
      content: '';
    }

    &:checked + label:after {
      display: block;
      content: '\f00c';
      top: 2px;
      left: 5px;
      background: none;
      color: #f41919;
    }

    &:focus(checked) + label:after {
      width: 28px;
      height: 28px;
      content: '';
    }

    &:focus + label:before {
      width: 28px;
      height: 28px;
      content: '';
    }
  }
}

a {
  text-decoration: none;
  color: $colorBasik;
  transition: 1s ease all;

  &:hover {
    color: $colorBasik;
    text-decoration: underline;
  }

  &:hover {
    img {

    }
  }
}

div.container {
  position: relative;
  outline: 0px solid #f9f303;
  max-width: 1440px;
  margin: 0 auto;
}
.page-user .container{
  max-width: 1590px;
}
.light {
  font-weight: 300;
}


a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"] {
  background: transparent;
}

span.CenturyGothic {
}

h1, h2, h3, h4, h5, h6 {
  //font-weight: bold;
  font-weight: bold;
}

h1 {
  margin: 0px 0 16px;
  font-weight: 600;
  font-size: $sizeBasik + 16;
  line-height: 1.2;
  color: $colorBasik;
  span{
    //color: #E03030;
  }
}

.h1 {
  margin: 0px 0 16px;
  font-weight: 600;
  font-size: $sizeBasik + 16;
  line-height: 1.2;
  color: $colorBasik;
  @media (max-width:1500px) {
    //font-size: $sizeBasik + 25;
  }
  @media (max-width: 1200px) {
    //font-size: $sizeBasik + 20;
  }
  @media (max-width: 991px) {
    //font-size: $sizeBasik + 15;
  }
  @media (max-width: 767px) {
    //font-size: $sizeBasik + 5;
  }
}

.h2, h2 {
  margin: 20px 0 15px;
  line-height: 102.7%;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-size: $sizeBasik + 8;
  @media (max-width: 1200px) {
    font-size: $sizeBasik + 7;
  }
  @media (max-width: 991px) {
    font-size: $sizeBasik + 6;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik + 5;
  }
}
h2{
  font-size: $sizeBasik + 8;
  @media (max-width: 1200px) {
    font-size: $sizeBasik + 7;
  }
  @media (max-width: 991px) {
    font-size: $sizeBasik + 6;
  }
  @media (max-width: 767px) {
    font-size: $sizeBasik + 5;
  }
}

h3, .h3 {
  margin: 0px 0 15px;
  font-weight: bold;
  line-height: 1.2;
  font-size: $sizeBasik;
  color: #000;
  @media (max-width: 1200px) {
    font-size: $sizeBasik - 1;
  }
  @media (max-width: 991px) {
    font-size: $sizeBasik - 2;
  }
}

h4, .h4 {
  margin: 12px 0 14px 0;
  font-weight: bold;
  line-height: 1;
  color: $colorBasik;
  font-size: $sizeBasik + 3;
  @media (max-width: 767px) {
    font-size: $sizeBasik ;
  }
}

h5, .h5 {
  margin: 0 0 15px;
  line-height: 1;
  font-size: $sizeBasik - 1;
  color: #fff;
}

h6 {
  line-height: 1.45;
  font-size: 14px;
  font-weight: 700;
}

b {
  font-weight: 700;
}


.hide {
  display: none !important;
}


.desctop-hide {
  display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}


.more- {
  position: relative;
  //padding-bottom: 3px;
  display: block;
  width: auto;
  margin: 20px 0 10px;
  text-transform: uppercase;
  &::before {
    //content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid $colorBasik;
    transition: 1s ease all;
  }

  &::after {
    //content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px dashed $colorBasik;
    transition: 1s ease all;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover::before {
    width: 0%;
  }
  &:hover{
    text-decoration: underline;
  }
}

/*
* .grid-item *
*/
.grid {
  // margin-bottom: 145px;
  &-item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: 1s ease all;
    &:hover {
      padding: 0;
      outline: 0;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30) !important;
    }

    h4 {
      margin: 0 0 12px 0px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }

    p {
      margin-bottom: 5px;
      line-height: 1.7;
    }

    a {
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      text-align: center;

      * {
        text-decoration: none;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: 1s ease all;
    }
  }
}

.inputfile-box {
  position: relative;
  width: 100%;
  height: 43px;
  margin-bottom: 55px;
  box-sizing: border-box;
  @media (max-width: 767px) {
    height: 27px;
  }
}

.inputfile {
  width: 0.1px !important;
  height: 0.1px !important;
  padding: 0 !important;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    color: #bdbdbd;

    span {
      display: inline-block;
      padding: 0;
      margin-left: 18px;
    }

    img {
      margin-right: 10px;
      float: left;
    }

    strong {
      display: block;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.ml-auto {
  margin-left: auto !important;
}
