@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Medium.eot');
	src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
	url('../assets/fonts/SFP/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Medium.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Medium.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Heavy.eot');
	src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
	url('../assets/fonts/SFP/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Heavy.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Heavy.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-UltralightItalic.eot');
	src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
	url('../assets/fonts/SFP/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-UltralightItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-UltralightItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-UltralightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-RegularItalic.eot');
	src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
	url('../assets/fonts/SFP/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-RegularItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-RegularItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Thin.eot');
	src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
	url('../assets/fonts/SFP/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Thin.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Thin.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Light.eot');
	src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
	url('../assets/fonts/SFP/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Light.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Light.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-BlackItalic.eot');
	src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
	url('../assets/fonts/SFP/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-BlackItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-BlackItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Bold.eot');
	src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
	url('../assets/fonts/SFP/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Bold.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Bold.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Black.eot');
	src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
	url('../assets/fonts/SFP/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Black.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Black.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-SemiboldItalic.eot');
	src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
	url('../assets/fonts/SFP/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-SemiboldItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Ultralight.eot');
	src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
	url('../assets/fonts/SFP/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Ultralight.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Ultralight.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Ultralight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-LightItalic.eot');
	src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
	url('../assets/fonts/SFP/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-LightItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-LightItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-ThinItalic.eot');
	src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
	url('../assets/fonts/SFP/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-ThinItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-ThinItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-MediumItalic.eot');
	src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
	url('../assets/fonts/SFP/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-MediumItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-MediumItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Semibold.eot');
	src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
	url('../assets/fonts/SFP/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Semibold.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Semibold.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-HeavyItalic.eot');
	src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
	url('../assets/fonts/SFP/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-HeavyItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-HeavyItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-Regular.eot');
	src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
	url('../assets/fonts/SFP/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-Regular.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-Regular.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('../assets/fonts/SFP/SFProDisplay-BoldItalic.eot');
	src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
	url('../assets/fonts/SFP/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/SFP/SFProDisplay-BoldItalic.woff2') format('woff2'),
	url('../assets/fonts/SFP/SFProDisplay-BoldItalic.woff') format('woff'),
	url('../assets/fonts/SFP/SFProDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

