// Variables Bootstrap 4
// color
$red:     #cc2eaa;
$green:   #97BA1E;
$light-green:   #F4F9E6;
$orange: #fca70c;
$yellow: #ffd943;
$violet: #7057d6;
$purple: #555be4;
$blue: #577edc;
// container size
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1800px
);
//fonts
$sizeBasik: 16px;
$colorBasik: #222A37;
// transition
$ease-out: 0.25s ease-in-out;

@media (min-width: 991px){
  .container{
    min-width: 1440px;
    max-width: 1440px;
  }
}
