<footer class="footer">
  <div class="container md-hide">
    <div class="row">
      <div class="col-md-12">

      </div>
      <div class="col-xl-3 col-md-6 col-footer">

      </div>
      <div class="col-xl-3 col-md-6 col-footer">

      </div>
      <div class="col-xl-3 col-md-6 col-footer">

      </div>
      <div class="col-xl-3 col-md-6 col-footer">

      </div>
    </div>
  </div>
  <div class="md-visible container">

  </div>
</footer>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modal__select-passengers" class="modal modal-print" id="modal__select-passengers"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
                  fill="#7A869A"
                  fill-rule="evenodd"/>
          </svg>
        </span>
      </button>
      <div class="h2">Пассажиры в брони</div>
      <div class="select-passengers">
        <form class="search-passengers">
          <input type="text" placeholder="Пассажир">
          <button>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3854 11.4722C13.3937 10.2593 14 8.70048 14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C8.44342 14 9.78481 13.5631 10.8991 12.8144L13.5607 15.4759C13.9512 15.8664 14.5843 15.8664 14.9749 15.4759C15.3654 15.0854 15.3654 14.4522 14.9749 14.0617L12.3854 11.4722ZM7 12C9.76142 12 12 9.76142 12 7C12 4.23858 9.76142 2 7 2C4.23858 2 2 4.23858 2 7C2 9.76142 4.23858 12 7 12Z" fill="#505F79"/>
            </svg>
          </button>
        </form>
        <div class="result-passengers">
          <ul class="result-passengers__list">
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-1" class="checkbox">
                <label for="passenger-1">PETROV Kirill</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-2" class="checkbox">
                <label for="passenger-2">IVANOV Sergey</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-3" class="checkbox">
                <label for="passenger-3">PETROV Sergey</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-4" class="checkbox">
                <label for="passenger-4">PETROV Immanuil</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-5" class="checkbox">
                <label for="passenger-5">SIDOROVA Alena</label>
              </div>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-6" class="checkbox" checked>
                <label for="passenger-6">SIDOROV Georgy</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-7" class="checkbox">
                <label for="passenger-7">SIDOROV Georgy2</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
            <li>
              <div class="cheched-register ">
                <input type="checkbox" id="passenger-8" class="checkbox">
                <label for="passenger-8">SIDOROV Georgy3</label>
              </div>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="10" fill="#FF991F"></circle>
                <path d="M9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6V10C11 10.5523 10.5523 11 10 11C9.44772 11 9 10.5523 9 10V6Z" fill="white"></path>
                <path d="M9 14C9 13.4477 9.44772 13 10 13C10.5523 13 11 13.4477 11 14C11 14.5523 10.5523 15 10 15C9.44772 15 9 14.5523 9 14Z" fill="white"></path>
              </svg>
            </li>
          </ul>
        </div>
      </div>


      <div class="button-row">
        <div class="text mr-auto">Выберите пассажиров для регистрации</div>
        <button class="btn btn_green" type="submit">Выбрать</button>
      </div>

    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="modal_boarding-print" class="modal modal-print" id="modal_boarding-print"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
                  fill="#7A869A"
                  fill-rule="evenodd"/>
          </svg>
        </span>
      </button>
      <div class="h2">Выдать посадочный билет</div>
      <div class="print-desc">
        <div class="print-desc-left">
          <ul class="print-desc-list">
            <li>
              <div class="cheched-register cheched">
                <input type="checkbox" id="chec-1" class="checkbox">
                <label for="chec-1">Напечатать посадочный билет</label>
              </div>
            </li>
            <li>
              <div class="cheched-register cheched">
                <input type="checkbox" id="chec-2" class="checkbox" checked>
                <label for="chec-2">Отправить пассажиру на e-mail</label>
              </div>

              <label for="email" class="inp label-input">
                <input type="text" id="email" placeholder="&nbsp;" value="example@mail.com">
                <span class="label">E-mail</span>
              </label>
            </li>
            <li>
              <div class="cheched-register cheched">
                <input type="checkbox" id="chec-3" class="checkbox">
                <label for="chec-3">Отправить на телефон</label>
              </div>
              <label for="number" class="inp label-input">
                <input type="text" id="number" placeholder="&nbsp;">
                <span class="label">Номер  телефона</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="print-desc-right">
          <table>
            <tbody>
            <tr>
              <td>Пассажир</td>
              <td></td>
              <td>Место</td>
            </tr>
            <tr>
              <td><b>VALERIY IVANOV</b></td>
              <td></td>
              <td>12 A</td>
            </tr>
            <tr>
              <td class="size-sm">Рейс S7 2015</td>
              <td class="size-sm">DME - OVB</td>
              <td class="size-sm">29 нояб.</td>
            </tr>
            </tbody>
          </table>
          <div class="code-wrapp">
            <div class="code">
              <img src="assets/img/code.png" alt="">
            </div>
            <ul class="code-list">
              <li class="active">
                <span></span>
              </li>
              <li>
                <span></span>
              </li>
              <li>
                <span></span>
              </li>
            </ul>
          </div>

        </div>

      </div>


      <div class="button-row">
        <button class="btn btn_green" type="submit">Применить
        </button>
      </div>

    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="modal_cancel-registration" class="modal" id="modal_cancel-registration"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
                  fill="#7A869A"
                  fill-rule="evenodd"/>
          </svg>
        </span>
      </button>
      <div class="h2">Отмена регистрации</div>
      <div class="item-textarea">
        <label class="inp" for="coments">
          <textarea id="coments" name="coments" placeholder="&nbsp;" required></textarea>
          <span class="label">Комментарий DME</span>
        </label>
      </div>
      <div class="button-row">
        <button class="btn btn_grey_light" type="reset">Отмена</button>
        <button aria-label="Close" class="btn btn_green" data-dismiss="modal" onclick="$('.information').hide()"
                type="submit">Подтвердить
        </button>
      </div>

    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="modal_confirm-passenger-transfer" class="modal"
     id="modal_confirm-passenger-transfer"
     role="dialog"
     tabindex="-1">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd"
      d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
      fill="#7A869A"
      fill-rule="evenodd"/>
</svg>
        </span>
      </button>
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <div class="h2">Подтвердите пересадку пассажира</div>
      <div class="text">Вы собираетесь пересадить пассажира IVANOV IVAN с <b>15F</b> на <b>платное</b> место <b>14F</b>.
      </div>
      <div class="item">
        <div class="select">
          <a class="slct">Выберите причину пересадки</a>
          <ul class="drop">
            <li>Пассажир с младенцем</li>
            <li>Иностранный гражданин у запасного выхода</li>
            <li>Групповая бронь</li>
          </ul>
          <input name="reason-transplant" type="hidden">
        </div>
      </div>
      <div class="button-row">
        <button class="btn btn_grey_light" type="reset">Отмена</button>
        <button aria-label="Close" class="btn btn_green" data-dismiss="modal" onclick="$('.information').hide()"
                type="submit">Подтвердить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>
<div aria-hidden="true" aria-labelledby="modal_confirm-passenger-transfer2" class="modal"
     id="modal_confirm-passenger-transfer2"
     role="dialog"
     tabindex="-1">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" aria-labelledby="modal_confirm-passenger-transfer2" class="close" data-dismiss="modal"
              type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd"
      d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
      fill="#7A869A"
      fill-rule="evenodd"/>
</svg>
        </span>
      </button>
      <div class="h2">Подтвердите пересадку пассажира 222</div>
      <div class="text">Вы собираетесь пересадить пассажира IVANOV IVAN с <b>15F</b> на <b>платное</b> место <b>14F</b>.
      </div>
      <div class="button-row">
        <button class="btn btn_grey_light" type="reset">Отмена</button>
        <button aria-label="Close" class="btn btn_green" data-dismiss="modal" onclick="$('.information').hide()"
                type="submit">Подтвердить
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="cancel-registration" class="modal" id="cancel-registration"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M8.58579 10L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L10 8.58579L14.2929 4.29289C14.6834 3.90237 15.3166 3.90237 15.7071 4.29289C16.0976 4.68342 16.0976 5.31658 15.7071 5.70711L11.4142 10L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L10 11.4142L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L8.58579 10Z"
                  fill="#7A869A"
                  fill-rule="evenodd"/>
          </svg>
        </span>
      </button>
      <div class="h2">Отмена регистрации</div>
      <div class="item">
        <div class="select slct-not">
          <span class="label"></span>
          <a class="slct">Причина отмены</a>
          <ul class="drop">
            <li>Летит как экипаж</li>
            <li>Отмена регистрации пассажиром</li>
            <li>Отказано в посадке на рейс</li>
            <li>Рейс отменен</li>
            <li>Неявка пассажира</li>
            <li>Ошибочная регистрация</li>
          </ul>
          <input type="hidden" name="citizenship">
        </div>
      </div>

      <div class="item-textarea">
        <label class="inp" for="coments-2">
          <textarea id="coments-2" name="coments" placeholder="&nbsp;" required></textarea>
          <span class="label">Комментарий</span>
        </label>
      </div>
      <div class="button-row">
        <button class="btn btn_grey_light" type="reset">Отмена</button>
        <button aria-label="Close" class="btn btn_green" data-dismiss="modal" type="submit">Отправить</button>
      </div>

    </div>
  </div>
</div>


<script src="js/main.min.js"></script>