</head>
<body>
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 header-col-left">
        <a href="#" class="logo">
          <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M40.8333 20.0043C40.8333 31.0534 31.8853 40 20.8394 40C9.79205 40 0.833313 31.0534 0.833313 20.0043C0.833313 8.95518 9.79205 0 20.8394 0C31.8854 0 40.8333 8.95518 40.8333 20.0043ZM19.282 9.64393C16.1487 9.64393 14.116 9.81712 12.6445 10.3634C10.1718 11.3266 8.46419 13.3454 8.46419 15.9985C8.46419 18.2081 9.4931 19.8084 12.4708 21.649C15.6479 23.575 16.2817 24.2115 16.2817 25.3721C16.2817 26.6422 15.0372 28.088 11.8351 28.088C10.7175 28.088 9.03415 27.9333 7.95851 27.6702L7.44524 27.5408C7.15893 28.3083 6.50896 30.1241 6.31079 30.7829L6.819 30.9324C7.78658 31.241 10.0829 31.482 11.7281 31.482C17.201 31.482 20.4664 28.1754 20.4664 24.713C20.4664 22.5854 19.5007 20.9684 16.236 18.9314C14.5984 17.9241 13.7638 17.2709 13.257 16.7652C12.8462 16.2373 12.8008 15.8445 12.8008 15.4295C12.8008 15.0333 12.8889 14.5767 13.1501 14.2422C13.4326 13.8288 13.9508 13.5653 14.6521 13.3479C15.373 13.1088 16.7085 13.1025 18.7887 13.1025H20.7255L22.1085 9.64407H19.282V9.64393ZM24.1864 9.64393H33.9193C34.3769 9.64393 34.4645 9.9673 34.2882 10.3193C33.6518 11.8967 27.6471 26.9419 27.6471 26.9419H23.633C23.633 26.9419 28.3759 14.8557 29.1629 13.0554C28.9809 13.0554 28.8131 13.0606 28.5896 13.0676C28.1436 13.0814 27.4755 13.1022 26.0294 13.1022H22.8033L24.1864 9.64393Z" fill="#C4D600"/>
</svg>
        </a>
        <ul class="menu">
          <li><a href="#">Табло рейсов</a></li>
          <li class="active"><a href="#">Поиск пассажира</a></li>
        </ul>
      </div>
      <div class="col-md-4 header-col-right">
        <ul class="header-col-right-list">
          <li>
            <input type="checkbox" class="checkbox" id="checkbox" checked="" />
            <label for="checkbox">Сбойная ситуация</label>
          </li>
          <li>
            <div class="select">
              <a class="slct"><img src="assets/img/flug/ru.png" alt=""></a>
              <ul class="drop" style="display: none;">
                <li><img src="assets/img/flug/ru.png" alt=""></li>
                <li><img src="assets/img/flug/brt.png" alt=""></li>
                <li><img src="assets/img/flug/usa.jpg" alt=""></li>
              </ul>
              <input type="hidden" name="all-coloms">
            </div>
          </li>
          <li>
            <a href="#" class="user">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 17.2919C1.25 14.375 7.08313 12.7712 10 12.7712C12.9169 12.7712 18.75 14.375 18.75 17.2919V18.75H1.25V17.2919ZM14.375 5.625C14.375 8.04625 12.4206 10 10 10C7.57937 10 5.625 8.04625 5.625 5.625C5.625 3.20438 7.57937 1.25 10 1.25C12.4206 1.25 14.375 3.20438 14.375 5.625Z" fill="#505F79"/>
</svg>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</header>

