.form{
  .bootstrap-tagsinput {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    //height: 50px;
    padding-bottom: 10px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid $light-green;
    font-size: 15px;
    line-height: 18px;
    color: #000000 !important;
    padding-right: 20px;
    @media (max-width: 767px){
      padding-bottom: 0px;
      border-bottom: 2px solid #cbf469;
      font-size: 12px;
    }
    &::placeholder {
      color: #000000;
    }

    input {
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent;
      padding: 0 0 10px 0;
      margin: 0;
      width: auto !important;
      max-width: inherit;
      @media (max-width: 767px) {
        padding-bottom: 5px;
      }
        &:focus {
        border: none;
        box-shadow: none;
      }
    }

    .tag {
      position: relative;
      display: flex !important;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: auto;
      height: 30px;
      margin: 0 5px 5px 0;
      padding: 0 38px 0 21px;
      font-size: 13px;
      border-radius: 15px;
      border: 1px solid #e4e4e4;
      background: #e4e4e4;
      color: #000;
      @media (max-width: 767px) {
        height: 18px;
        padding: 0 21px 0 8px;
      }
      [data-role="remove"] {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 21.82px;
        height: 21.82px;
        cursor:pointer;
        background: #fff url("../assets/img/raspisanie-tsenyi/close.svg") center no-repeat;
        background-size: 9px;
        border-radius: 50%;
        @media (max-width: 767px) {
          top: 2px;
          right: 2px;
          width: 14px;
          height: 14px;
          background-size: 5px;
        }
        &:hover {
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          &:active {
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
          }
        }
      }
    }
  }
}

