.picker{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &>.pc-element{
    position: relative;
    display: flex!important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: 30px;
    margin: 0 5px 5px 0;
    padding: 0 38px 0 21px;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #e4e4e4;
    background: #e4e4e4;
    color: #000;
    @media (max-width: 767px) {
      height: 18px;
      padding: 0 21px 0 8px;
      font-size: 10px;
    }
    .pc-close{
      position: absolute;
      top: 3px;
      right: 3px;
      width: 21.82px;
      height: 21.82px;
      margin: 0;
      cursor: pointer;
      background: #fff url(../../assets/img/raspisanie-tsenyi/close.svg) center no-repeat;
      background-size: 9px;
      border-radius: 50%;
      @media (max-width: 767px) {
        top: 1px;
        right: 1px;
        width: 14px;
        height: 14px;
        background-size: 5px;
      }
      &::after{
        display: none;
      }
    }
  }
  .pc-select {
    position: static;
    .pc-trigger {
      position: absolute;
      right: 0;
      top: 15px;
      width: 20px;
      height: 10px;
      padding: 0;
      background: url("../../assets/img/svg/arrow-down.svg") center no-repeat;
      background-size: contain;
      border: 0;
      color: transparent;
      @media (max-width: 767px){
        top: 10px;
        width: 18px;
        height: 9px;
      }
    }
    .pc-list{
      top: calc(100% + 15px);
      @media (max-width: 767px){
        top: calc(100% + 7px);
      }
      li{
        width: 100%;
        margin: 0;
        &:nth-child(even) {
          background: transparent;
        }
        &:hover{
          background-color: #2196f3;
          color: #fff;
        }
      }
    }
  }
}

