#ui-datepicker-div {
  z-index: 9 !important;
  background: #fff;
  width: 410px;
  padding: 25px 30px;
  display: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  .ui-datepicker-year{
    display: none;
  }
  @media (max-width: 767px) {
    left: 0 !important;
    width: 310px;
    padding: 15px 10px;
  }
  .ui-datepicker{
    &-header{
      width: 200px;
      margin: 0 auto;
      padding: 0;
      a{

      }
    }
    &-prev{
      left: -5px;
      background: url("../../assets/img/svg/arrow-left-full.svg") center no-repeat;
    }
    &-next{
      background: url("../../assets/img/svg/arrow-right-full.svg") center no-repeat;
    }
  }
  .ui-datepicker-title {
    margin: 0 0 30px;
    line-height: 1.4;
    font-size: $sizeBasik + 8;
  }

  table {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 0;

    th {
      text-align: center;
      font-weight: 400;
      font-size: 17px;
      color: #CCCCCC;
    }

    td {
      a, span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        padding: 0;
        text-align: center;
      }
      .ui-state-highlight, .ui-state-hover{
        background: $light-green;
        border-radius: 50%;
        color: #000;
      }
    }
  }
}