.filter {
	margin: 0 -15px;
	padding: 0 15px;
	&-in {
		width: 100%;
		&.active{
			.filter-list-hide{
				display: flex;
			}
		}
	}
	&.grey {
		background: #F6F8FC;
		border: 1px solid #DDE3ED;
		form .icon {
			margin-top: 6px;
		}
		.filter-list > li {
			height: 40px;
		}
	}
	form {
		padding: 16px 0 4px;
		//flex-wrap: wrap;
		.icon {
			width: 22px;
			height: 30px;
			margin-right: 16px;
			margin-top: 12px;
			margin-bottom: 12px;
			cursor: pointer;
			transition: all 0.4s ease;
			&.active {
				transform:scale(1.2);
			}
		}
		& > .d-flex {
			flex-wrap: nowrap;
		}
	}
	&-list {
		position: relative;
		display: flex;
		//flex-wrap: wrap;
		width: 100%;
		max-width: calc(100% - 22px);
		padding-right: 70px;
		align-items: center;
		&-hide{
			display: none;
		}
		@media(max-width: 1200px) {
			flex-wrap: wrap;
		}
		& > li {
			&.item {
				overflow: hidden;
				height: 56px;
				margin-left: 16px;
				margin-bottom: 12px;
				border-radius: 8px;

				@media(max-width: 1200px) {
					height: 50px;
				}
				&-select {
					overflow: visible;
					&.d-flex {
						.select {
							width: 70px;
							//border-right: 1px solid #ddd6e1;
						}
					}
					&.item-col-4 {
						.select {
							width: 100%;
						}
					}
					.inp {
						width: calc(100% - 70px);
					}
					.slct{
						&.active{
							border-radius: 8px 0px 0 0;
							//border-bottom: 0;
						}
					}
				}
				&-col {
					&-05 {
						width: 100%;
						max-width: 120px;
					}
					&-1 {
						width: 100%;
						max-width: 162px;
					}
					&-2 {
						width: 100%;
						max-width: 235px;
					}
					&-3 {
						width: 100%;
						max-width: 340px;
					}
					&-4 {
						width: 100%;
						max-width: 440px;
					}
				}
				&-button {
					position: absolute;
					right: 0px;
					top: 0;
					border: 0;
				}
			}
			select {
			}
			button {
				width: 56px;
				height: 56px;
				background: $green url(../../assets/img/svg/search.svg) center no-repeat;
				border-radius: 8px;
				border: 1px solid $green;
				cursor: pointer;
				@media(max-width: 1200px) {
					height: 50px;
					width: 50px;
				}
			}
		}
	}
	.cheched-register {
		margin: 0 0 0px 38px;
		padding: 4px 0 15px 0;
	}

}
.cheched-register {
	margin-bottom: 16px;
	line-height: 1;
	label {
		line-height: 1;
		font-size: $sizeBasik - 2;
	}
	input {
		width: auto;
		height: auto;
		margin-right: 8px;
		border: 1px solid #95A0B3;
		box-sizing: border-box;
		border-radius: 3px;
		float: left;
	}
}
.inp {
	position: relative;
	overflow: hidden;
	max-height: 100%;
	width: 100%;
	padding-top: 7px;
	background: #fff !important;
	border-radius: 8px;
	border: 1px solid #ddd6e1;
	input[type="date"]::-webkit-calendar-picker-indicator {
		cursor: pointer;
		opacity: 0.8;
		filter: invert(0.4);
	}
	.label {
		position: absolute;
		top: 17px;
		left: 15px;
		color: #7a869a;
		font-weight: normal;
		font-style: normal;
		line-height: 24px;
		transform-origin: 0 0;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		pointer-events: none;
		background: #fff !important;
		line-height: 1;
	}
	.focus-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		bottom: 0;
		z-index: -1;
		transform: scaleX(0);
		transform-origin: left;
		line-height: 24px;
		color: #222A37;
	}
	input, textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 100%;
		margin-top: auto;
		box-sizing: border-box;
		padding: 16px;
		font-weight: normal;
		font-style: normal;
		line-height: 24px;
		color: #7a869a;
		color: #222A37;
		outline: 0 !important;
		background: transparent !important;
		background: #fff !important;
		border: 0;
		textarea {
			height: auto;
		}
		&:not(:placeholder-shown) + .label {
			transform: translate3d(0, -10px, 0) scale(0.75);
		}
		&:focus {
			outline: none;
			& {
				//height: 48px;
				@media(max-width: 1200px) {
					//height: 48px;
				}
			}
			& + .label {
				transform: translate3d(0, -10px, 0) scale(0.75);
				& + .focus-bg {
					transform: scaleX(1);
					transition: all 0.1s ease;
				}
			}
		}
	}
}
.select {
	height: 100%;
	.slct {
		border: 0;
	}
}
input {
	width: 100%;
	height: 100%;
	padding: 0 16px;
	font-size: $sizeBasik;
	line-height: 1.5;
	border-radius: 8px;
	font-size: 16px;
	border: 0;
	color: #7a869a;
	border-radius: 8px;
	border: 1px solid #ddd6e1;
}
select {
	padding: 18px 0 19px 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 24px;
	color: #7a869a;
	outline: none;
	border: 0;
}
.item {
	&-non-input{
		overflow: hidden;
		height: 56px;
		padding-left: 16px;
		margin-bottom: 12px;
		border-radius: 8px;
		border: 1px solid #ddd6e1;
		.label{
			color: #7a869a;
			font-weight: 400;
			font-style: normal;
			line-height: 24px;
			font-size: 12px;
		}
		.text{
			line-height: 1;
			color: #222a37;
		}
	}
	&-input, &-textarea, &-select {
		overflow: hidden;
		height: 56px;
		margin-left: 16px;
		margin-bottom: 12px;
		border-radius: 8px;
		//border: 1px solid #ddd6e1;
		&:first-child {
			margin-left: 0;
		}
		@media(max-width: 1200px) {
			height: 50px;
		}
		input {
			&[disabled] {
				color: #7A869A;
			}
		}
		&.error {
			border: 1px solid #F14D56;
			.inp {
				.label {
					color: #F14D56;
				}
			}
		}
	}
	&-select {
		overflow: visible;
		.inp{
			border-radius: 0 8px 8px 0;
			border-left: 0;
		}
		.slct{
			border-radius:  8px 0 0 8px;
			border-radius: 8px 0 0 8px !important;
			border: 1px solid #ddd6e1;
			&.active{
				border-radius: 8px 0 0 0px !important;
			}
		}
		.drop{
			left: 0 !important;
		}
	}
	&-textarea {
		.inp {
			height: 100%;
			padding: 18px 0 0 0;
			display: flex;
		}
		min-height: 80px;
		height: auto;
		@media(max-width: 1200px) {
			height: auto;
			min-height: 70px;
		}
		textarea {
			width: 100%;
			height: auto;
			min-height: 86px;
			padding: 0 15px;
			line-height: 1;
		}
	}
}

*{
	//border: 1px solid !important;
}