.btn {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  display: inline-block;
  padding: 6px 8px;
  font-size: $sizeBasik - 4px;
  color: #fff;
  min-height: 28px;
  box-sizing: border-box;
  border-radius: 8px;
  border-width: 1px;
  line-height: 1;
  &:hover{
    background: $green;
  }
  &_border_green{
    border-color: $green;
    &:hover{
      background: $white;
      color: $green;
    }
  }
  &_border_black{
    border-radius: 15px;
    border: 3px solid #000;
    color: #000;
    &:hover{
      background: #000;
      color: #fff;
    }
  }
  &_green{
    border-color: $green;
    background: $green;
    &:hover{
      background: $white;
    }
  }
  &_grey{
    border-color: #95A0B3;
    background: #95A0B3;
    &:hover{
      background: transparent;
      color: #95A0B3;
    }
  }
  &_grey_light{
    border-color: #ECEFF5;
    background: #ECEFF5;
    color: #222A37;
    &:hover{
      background: transparent;
      color: #000;
    }
  }
  &_pink{
    border-color: #F7949A;
    background: #F7949A;
    &:hover{
      background: $white;
      color: #F7949A;
    }
  }
  &_white{
    border-color: $white;
    background: $white;
    color: #222A37;
    &:hover{
      background: $blue;
      color: $white;
    }
  }
}

.btn-width-140{
  min-width: 140px;
  padding: 12px 10px;
  font-size: $sizeBasik - 2;
}
.border-radiuse-20{
  border-radius: 20px;
}
.input {
  height: 49px;
  background: #eef2fa;
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
  border-radius: 10px;
  outline: none;
  box-shadow: transparent;
  transition: box-shadow;
}

textarea {
  resize: none;
}

//.form-select {
//  display: block;
//  width: 100%;
//  padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
//  font-family: $form-select-font-family;
//  @include font-size($form-select-font-size);
//  font-weight: $form-select-font-weight;
//  line-height: $form-select-line-height;
//  color: $form-select-color;
//  background-color: $form-select-bg;
//  background-image: escape-svg($form-select-indicator);
//  background-repeat: no-repeat;
//  background-position: $form-select-bg-position;
//  background-size: $form-select-bg-size;
//  border: $form-select-border-width solid $form-select-border-color;
//  @include border-radius($form-select-border-radius, 0);
//  @include box-shadow($form-select-box-shadow);
//  appearance: none;
//
//  &:focus {
//    border-color: $form-select-focus-border-color;
//    outline: 0;
//    @if $enable-shadows {
//      @include box-shadow($form-select-box-shadow, $form-select-focus-box-shadow);
//    } @else {
//      // Avoid using mixin so we can pass custom focus shadow properly
//      box-shadow: $form-select-focus-box-shadow;
//    }
//  }
//
//  &[multiple],
//  &[size]:not([size="1"]) {
//    padding-right: $form-select-padding-x;
//    background-image: none;
//  }
//
//  &:disabled {
//    color: $form-select-disabled-color;
//    background-color: $form-select-disabled-bg;
//    border-color: $form-select-disabled-border-color;
//  }
//
//  // Remove outline from select box in FF
//  &:-moz-focusring {
//    color: transparent;
//    text-shadow: 0 0 0 $form-select-color;
//  }
//}

