.information-reg{
  position: relative;
  display: flex;
  margin: 16px 0;
  padding: 18px 20px;
  border-radius: 12px;
  &.bg-light_blue{
    background: #EBF1FF;
  }
  &.bg-light_red{
    background: #FEEDEE;
  }
  &.bg-green{
    max-width: 664px;
    background: #F4F9E6;
    .btn_green{
      &:hover{
        path {
          fill: $green
        }
      }
    }

  }

  .information-in{
    margin-left: 16px;
  }
  .h3{
    margin: 0 0 6px;
  }
  p{
    margin-bottom: 5px;
    font-size: $sizeBasik - 2;
    line-height: 143%;
    color: #222A37;
    &:last-child{
      margin-bottom: 0;
    }
  }
  svg, svg path{

  }
  .close{
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 9;
    opacity: 1;
  }
  .d-flex{
    width: 100%;
    .btn_white{
      margin-left: auto;
    }
  }
}