.modal{
  &-open{
    padding: 0 !important;
    .modal{

    }

  }
  &.show {
    .close{
      position: absolute;
      right: 24px;
      top: 24px;
    }
    .modal{
      &-dialog{
        max-width: 600px;
        margin: 10rem auto;
        @media (max-width: 768px) {
          max-width: 92% ;
          margin: 5rem auto;
        }
      }

      &-content{
        padding: 32px 50px 28px 32px;
        background: #FFFFFF;
        box-shadow: 0px 16px 32px rgba(34, 42, 55, 0.13);
        border-radius: 16px;
        .h2{
          margin: 0 0 32px;
        }
        .item-textarea{
          margin: 0;
          .inp{
            textarea{

            }
            .label{

            }
          }
        }
        .button-row{
          display: flex;
          margin-top: 32px;
          justify-content: end;
          .btn{
            width: 160px;
            height: 48px;
            margin-left: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  &#modal_confirm-passenger-transfer{
    .item {
      height: 56px;
      margin-top: 24px;
      border-radius: 8px;
      border: 1px solid #ddd6e1;
    }
  }
  &.modal-print{

    .modal{
      &-dialog{
        max-width: 723px;

      }
      &-content{
        padding-left: 0;
        padding-right: 0;
        .h2{
          margin-bottom: 23px;
          padding-left: 32px;
        }
        .button-row{
          padding-left: 32px;
          padding-right: 32px;
          align-items: center;

          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #505F79;
        }
      }
    }
  }
}
.select-passengers{
   height: 400px;
  overflow-x: scroll;
  border-top: 1px solid #DDE3ED;
  border-bottom: 1px solid #DDE3ED;
  padding: 17px 32px 17px 32px;
  .search-passengers{
    width: 100%;
    position: relative;
    input{
      width: 100%;
      height: 56px;
      padding-left: 48px;
    }

    button{
      position: absolute;
      left: 18px;
      top: 16px;
      border: 0;
      outline: 0;
      background: transparent;
    }
  }
}
.result-passengers{
  &__list{
    margin-top: 16px;
    li{
      display: flex;
      align-items: center;
      padding: 12px 0;
      .cheched-register{
        min-width: 160px;
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}

.print-desc{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #DDE3ED;
  border-bottom: 1px solid #DDE3ED;
  padding: 26px 32px 50px 32px;
  &-left{
    width: 320px;
  }
  &-right{
    width: 280px;
    margin-top: -7px;
    padding: 10px 15px;
    border: 1px solid #D0D6E1;
    box-sizing: border-box;
    border-radius: 5px;
    table{
      width: 100%;
      .size-sm{
        font-size: 12px;
      }
      td{
        line-height: 1.43;
        color: #000;
        &:last-child{
          text-align: right;
        }
      }
    }
    .code-wrapp{
      padding: 10px 0 5px;
      text-align: center;
      .code{
        padding-top: 10px;
        img{

        }
        &-list{
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            margin: 0 15px;
            &.active span{
              background: $green;
            }
            span{
              display: inline-block;
              width: 10px;
              height: 10px;
              border: 1px solid #97BA1E;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  &-list{
    li{
      margin-bottom: 24px;
    }
  }
}
.label-input{
  height: 56px;
	border-radius: 8px;
	border: 1px solid #ddd6e1;
  input{
    height: 47px;
    padding: 8px 16px;
  }
  .label{
    top: 20px;
  }
}
.cheched{
  margin-bottom: 12px;
}
.modal-tooltype {
  display: none;
  position: absolute;
  z-index: 99;
  width: auto;
  padding: 24px;
  line-height: 2.3;
  background: #FFFFFF;
  border-radius: 16px;
  filter: drop-shadow(0px 8px 16px rgba(34, 42, 55, 0.13));
  &-in{
    position: relative;
    min-width: 250px;
    display: block !important;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      top: calc(100% + 20px);
      z-index: 99;
      width: 24px;
      height: 12px;
      left: calc(50% - 24px/2);
      bottom: -24px;
      background: #FFFFFF;
      transform: translate(-50%, 0);
      background: url(../../assets/img/svg/arr-down.svg) no-repeat;
    }
  }
  &-text{
    b{
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    p{

    }
  }

  .close {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background: url("../../assets/img/close.png") no-repeat;
    cursor: pointer;
    margin-top: 3px;
    padding-left: 15px;
  }

}

.close:hover {
  color: #000;
  text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover {
  opacity: .75
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0
}
#cancel-registration{
  .modal-content {
    padding: 32px 20px 28px 20px;
    .item{
      margin-bottom: 15px;
    }
    .select .label+.slct {
      padding: 12px 15px;
    }
  }
}

