.table-wrapp {
	margin: 17px -15px 0 -15px;

	.table {
		&.table-new {
			tr {
				td, th {
					padding: .5rem;
					border-left: 1px solid #dee2e6;
					border-right: 1px solid #dee2e6;
					.btn {
						text-transform: uppercase;
					}
				}
			}
		}
		tbody {
			border-top: 1px solid #dee2e6;
			border-bottom: 1px solid #dee2e6;
		}
		tr {
			&.grey {
				background: #F6F8FC;
			}
			&.green {
				background: $light-green;
			}
			.time {
				border-left: 1px solid #dee2e6;
				border-right: 1px solid #dee2e6;
			}
			th {
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #222A37;
				white-space: nowrap;
				border: 0;
			}
			td, th {
				border-color: #DDE3ED;
				font-size: $sizeBasik - 2;
				@media(max-width: 1200px) {
					padding: .25rem;
					font-size: $sizeBasik - 4;
				}
				.red {
					color: #912E34;
				}
				.grey {
					color: #95A0B3;
				}
				.select {
					border: 1px solid #d0d6e1;
					border-radius: 8px;
				}
			}
			td {
				.btn {
					white-space: nowrap;
					@media(max-width: 1400px) {

					}
					@media(max-width: 1200px) {
						min-height: 24px;
						padding: 4px;
						font-size: 10px;
					}
				}
				input {
					width: 100%;
					height: 40px;
					padding: 0 16px;
					border: 1px solid #D0D6E1;
					box-sizing: border-box;
					border-radius: 8px;
					background: #fff;
					@media(max-width: 1200px) {
						height: 32px;
					}
				}
				.inp {
					position: relative;
					overflow: hidden;
					width: 100%;
					padding-top: 7px;
					background: #fff !important;
					input[type="date"]::-webkit-calendar-picker-indicator {
						cursor: pointer;
						opacity: 0.8;
						filter: invert(0.4);
					}
					.label {
						position: absolute;
						top: 17px;
						left: 15px;
						color: #7a869a;
						font-weight: normal;
						font-style: normal;
						line-height: 24px;
						transform-origin: 0 0;
						transform: translate3d(0, 0, 0);
						transition: all 0.2s ease;
						pointer-events: none;
						background: #fff !important;
					}
					.focus-bg {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 90%;
						bottom: 0;
						z-index: -1;
						transform: scaleX(0);
						transform-origin: left;
						line-height: 24px;
						color: #222A37;
					}
					input {
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						height: 50px;
						margin-top: auto;
						box-sizing: border-box;
						padding: 16px;
						font-weight: normal;
						font-style: normal;
						line-height: 24px;
						color: #7a869a;
						color: #222A37;
						outline: 0 !important;
						background: transparent !important;
						background: #fff !important;
						@media(max-width: 1200px) {
							height: 44px;
						}
						&:not(:placeholder-shown) + .label {
							transform: translate3d(0, -15px, 0) scale(0.75);
						}
						&:focus {
							outline: none;
							& + .label {
								transform: translate3d(0, -15px, 0) scale(0.75);
								& + .focus-bg {
									transform: scaleX(1);
									transition: all 0.1s ease;
								}
							}
						}
					}
				}
				.select .slct {
					height: 40px;
					@media(max-width: 1200px) {
						height: 32px;
					}
				}
				input[type="date"]::-webkit-calendar-picker-indicator {
					cursor: pointer;
					opacity: 0.8;
					filter: invert(0.4);
				}
			}
		}
	}
	&.search_passenger-table {
		table{
			width: 100%;
			margin: 0;
			tr{

			}
		}
		tbody, thead {
			border-bottom: 0;
			tr {
				&.grey {
					td {
						padding: 1rem .5rem;
						line-height: 2;
					}
				}
				&.fio-tr {
					//float: left;
					td {
						//padding-bottom: 0;
					}
				}
				&.border-bottom {
					border: 0 !important;
					td {
						//padding-top: 0;
						border-bottom: 1px solid #dde3ed;
					}
				}
				&:last-child {
					td {
						border: 0 !important;
					}
				}
				td {
					padding: .5rem;
					line-height: 1;
					border: 0;
					&:first-child {
						padding-left: 50px !important;
					}
					.h2 {
						margin: 0;
					}
					.size-sm {
						line-height: 133%;
						color: #7A869A;
					}
					.time {
						font-weight: 600;
						color: #222A37;
						border: 0;
					}
					.d-flex {
						align-items: center;
						line-height: 1.5;
						.btn {
							margin-right: 16px;
						}
						.size-sm {
							margin-top: 5px;
							font-size: 12px;
						}
					}
				}
			}
		}
		.circle {
			position: relative;
			td:first-child{
				&:before {
					content: '';
					position: absolute;
					left: 17px;
					top: 50%;
					transform: translate(0, -50%);
					width: 6px;
					height: 6px;
					background: #97BA1E;
					border-radius: 50%;
				}
			}


			&-top {
				&:after {
					content: '';
					position: absolute;
					left: 19px;
					top: calc(-50% - 5px);
					width: 1px;
					height: calc(100% + 3px);
					background: #97ba1e;
					border-radius: 50%;
				}
			}
			&-bottom {
				&:after {
					content: '';
					position: absolute;
					left: 19px;
					bottom: calc(-50% - 0px);
					width: 1px;
					height: calc(100% + 1px);
					background: #97ba1e;
					border-radius: 50%;
				}
			}
		}
	}
}
.table{
	.fio {
		min-width: 150px;
		font-weight: 600;
		font-size: 16px;
		//line-height: 150%;
		color: #222A37;
	}
	.size-sm {
		font-size: 12px;
		line-height: 133%;
		color: #7A869A;
	}
}
.max-width-120{
	max-width: 120px;
	min-width: 0 !important;
}
.max-width-100{
	max-width: 150px;
	min-width: 0 !important;
}
*{
	//outline: 1px solid !important;
}